<h1>Buildings</h1>
<hr/>
{{outlet}}

<ul>
{{#each-in model as |param|}}
  <li>Type: {{model.type}}</li>
  <li>sellingPrice: {{model.type}}</li>
  <li>numberOfFlats: {{model.type}}</li>
  <li>propertyTax: {{model.type}}</li>
  <li>schoolTax: {{model.type}}</li>
  <li>grossAnnualIncome: {{model.type}}</li>
  <hr/>
{{/each-in}}
</ul>
